@charset "utf-8";
/* CSS Document */

#mainID {
	font-family: "Times New Roman", Times, serif;
	font-size: 1.2em;
}

.mainH1 {
	text-align: center;
}

.mainH3 {
	font-style: italic;
}

.mainA:hover {
	color: red;
}

#footerID {
	margin: auto;
	width: 50vw;
	height: 4vh;
	background-color: #343A40;
	text-align: center;
	color: white;
	margin-top: 100px;
}






















